<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/svg" href="/email-outline.svg">
    <title>Home</title>
</head>
<body>
<div id="root">
    <%- include("header")%>
    <main>
    <div class="messages">
        <% for (let message of messages) { %>
            <%- include("messageCard", {message: message}) %>
        <% } %>
    </div>
    </main>
</div>
</body>
</html>