@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "roboto", sans-serif;
}

#root {
    display: grid;
    grid-template-rows: min-content 1fr;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    background-color: #DAFFEF;
    overflow: hidden;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fefefe;
    background-color: #2E282A;
    padding: .5rem;
    text-decoration: underline;
    padding-bottom: .7rem;
}

.mini {
    display: inline-block;
    transform: rotate(-10deg) translateX(-3px);
    font-weight: normal;
    text-decoration: underline;
}

header > nav {
    display: flex;
    gap: 4rem;
}

header > nav > a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #2E282A;
}

header > nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: #2E282A;
    color: #fefefe;
}

a.message-link {
    text-decoration: none;
    color: #fefefe;
}

.messages {
    display: grid;
    gap: 4rem;
    max-width: 600px;
    margin: 4rem auto;
}

.message-card {
    background-color: #DAFFEF;
    color: #2E282A;
    border-radius: 10px;
    padding: 1rem;
}

.message-info {
    display: flex;
    justify-content: space-between;
}

.message-user {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}

.message-user-icon {
    font-size: 2rem;
    font-weight: normal;
    background-color: #2E282A;
    color: #fefefe;
    padding: .5rem 1rem;
    border-radius: 50%;
}

.message-content {
    display: flex;
    flex-direction: column;
}

.message-text {
    align-self: center;
    margin: 1rem ;
}

@media screen and (width <= 450px) {
    header {
        flex-direction: column;
        gap: 1rem;
        padding: 0 0 1rem 0;
    }

    header > .logo {
        width: 100%;
        text-align: center;
    }
}